body {
  box-sizing: border-box;
  height: 100%;
  /* background-image: url("https://images.unsplash.com/photo-1629129281524-b1e1a1a099d2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNmb25kbyUyMHNpdG8lMjB3ZWJ8ZW58MHx8MHx8fDA%3D"); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  width: max-content;
  margin-inline: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: rgb(0, 1, 5);
}
#task {
  width: 300px;
  min-height: 20px;
}
button {
  min-width: 36px;
  min-height: 15px;
  float: right;
}
header {
  height: 120px;
}
label {
  display: block;
  color: black;
}
#form-container {
  width: max-content;
  margin-inline: auto;
}
.done {
  text-decoration: line-through;
}

#delete-button {
  color: crimson;
  margin-left: 1rem;
  font-size: x-small;
  vertical-align: middle;
  border-radius: 20px;
}

#task-list {
  font-size: large;
  padding-left: 0px;
  display: inline-block;
  text-align: left;
}
section {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: inline-block;
}
#list-container {
  display: inline-block;
  background-color: transparent;
  border-radius: 10px;
  height: 600px;
  width: 400px;
}

.list-item {
  font-size: 20px;
  min-width: 300px;
  list-style: none;
  height: max-content;
  border: 1px solid gray;
  margin-block: 4px;
  padding-inline: 10px;
}
